<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head th:replace="layout :: head"></head>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form"
	style="margin: 0 auto; width: 60%">

	<br /> <br /> <br /> <br /> <br /> <br />
	

	<div class="form-group row">
	<h1>Tạo báo cáo mới</h1>
	<br /> <br />

		<form class="form-horizontal" action="#" th:action="@{/report/save}"
			th:object="${report}" method="POST" novalidate="novalidate">

			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label>Tên báo cáo</label> <input type="text" class="form-control"
					placeholder="Tên báo cáo" th:field="*{name}" />
			</div>

			<div class="form-group">
				<label class="">Loại báo cáo</label>
				<div class="selectContainer" placeholder="Loại báo cáo"
					th:field="*{type}">
					<select class="form-control" name="type">
						<option value="Thang">Tháng</option>
						<option value="Quy">Quý</option>
						<option value="Nam">Năm</option>
						<option value="Khac">Khác</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label>Người tạo</label> <input type="text" class="form-control"
					placeholder="Nguoi tao" th:field="*{created_person}" />
			</div>
			
			<div class="form-group">
				<label>Ngay tao</label> <input type="text" class="form-control"
					placeholder="Ngay tao" th:field="*{created_at}" />
			</div>
			

			<div class="form-group">
				<label>Nội dung báo cáo</label>
				<textarea name="description" class="form-control"
					placeholder="Nội dung báo cáo" th:field="*{content}" rows="5"></textarea>
			</div>

			<div class="form-group">
				<label>Ghi chú</label>
				<textarea name="description" class="form-control"
					placeholder="Ghi chú" th:field="*{note}" rows="3"></textarea>
			</div>

			<div class="form-group">
				<label>Tải lên file báo cáo</label> <input type="file"
					class="form-control-file" path="file" th:field="*{file}" />
			</div>



			<button type="submit" class="btn btn-primary btn-md">Tạo báo
				cáo</button>
		</form>
	</div>



</div>


<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>