<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head th:replace="layout :: head"></head>
<nav th:replace="layout :: header"></nav>


<div class="container main-content form">
	<br /> <br /> <br /> <br />
	<h2>Thêm thống kê mới</h2>
	<br/>
	
	
	<div class="form-group row">
		<form class="form-horizontal" action="#" th:action="@{/thongke/save}"
			th:object="${thongke}" method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{mathongke}" />
			<div class="col-xs-5">
				<div class="form-group">
					<label>Ngày thực hiện</label> <input type="date" class="form-control"
						placeholder="Ngày thực hiện" th:field="*{ngaythuchientk}" />
				</div>

						<div class="form-group">
					<label>Loại thống kê</label>
					<select th:field="*{loaitk}">
                         <option th:each="loaithongke : ${listLoaithongke}"
                            th:value="${loaithongke.maloaitk}"
                            th:utext="${loaithongke.tenloaitk}"/>
                  	</select>
                  	
				</div>
				
				
				
				<div class="form-group">
					<label>Nội dung</label> <input type="text" class="form-control"
						placeholder="Nội dung" th:field="*{noidungtk}" id="nd"/>
				</div>
	
				<div class="form-group">
					<label>Mốc thời gian A</label> <input type="date" class="form-control"
						placeholder="Mốc thời gian A" th:field="*{ngaybd}" />
				</div>
				
				  <div class="form-group">
         			 <label>Mốc thời gian B</label> <input type="date" class="form-control"
           				 placeholder="Mốc thời gian B" th:field="*{ngaykt}" />
       				 </div>

      	
        <div class="form-group">
          <label>Nhân viên thực hiện</label> 
          <select th:field="*{manv}">
                         <option th:each="nhanvien : ${listEmployee}"
                            th:value="${nhanvien.id}"
                            th:utext="${nhanvien.name}"/>
                  	</select>
        </div>
				
			<button type="submit" class="btn btn-primary btn-md">Add</button>
			</div>
		
		</form>
	</div>
</div>
<br />
<br />
<br />

<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
<script type="text/javascript">

</script>
</body>
</html>