<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container main-content list">
	<br/> <br/> <br/> <br/> <br/>
		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<span th:text="${success}"></span>
		</div>
		<div class="row">
			<a th:href="@{/loaidichvu/create}" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-plus"></span> Add new service group
			</a>
			<form class="form-inline pull-right" action="#"
				th:action="@{/loaidichvu/search}" method="GET">
				<div class="form-group">
					<input type="text" class="form-control" name="s"
						placeholder="Type group service name..." />
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<th:block th:if="${#lists.isEmpty(Loaidichvus)}">
			<h3>No group service</h3>
		</th:block>

		<th:block th:unless="${#lists.isEmpty(Loaidichvus)}">
			<div class="row">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>MaLDV</th>
							<th>TenLDV</th>
							<th>MoTa</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contact,iterStat : ${Loaidichvus}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${contact.tenLDV}"></td>
							<td th:text="${contact.moTa}"></td>
							<td><a th:href="@{/loaidichvu/{maLDV}/edit(maLDV=${contact.maLDV})}"><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td><a th:href="@{/loaidichvu/{maLDV}/delete(maLDV=${contact.maLDV})}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</div>
	<!-- /.container -->

	<footer th:replace="layout :: footer"></footer>
</body>
</html>