<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head th:replace="layout :: head"></head>
<nav th:replace="layout :: header"></nav>


<div class="container" >


	<div class="text-center" >
	<br /> <br /> <br /> <br />
	<h1>
	Chi tiết thống kê số: 
		<b th:text="${thongke.mathongke}"></b>
	</h1>
	</div>
	
	
		<form action="#" th:action="@{/thongke/{id}/detail}"
			th:object="${thongke}" method="POST" novalidate="novalidate">
	
	<div class="col-md-6" style="margin-left: 300px" > 
		<div class="form-group">
				<label>Mã thống kê</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{mathongke}" />
			</div>



			<div class="form-group">
				<label>Ngày thực hiện</label> <input id="date" type="date"
					class="form-control" readonly="readonly" th:field="*{ngaythuchientk}" />
			</div>

			<div class="form-group">
				<label>Nội dung</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{noidungtk}" />
			</div>
			
				<div class="form-group">
				<label>Loại thống kê</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{loaitk}" />
			</div>

			<div class="form-group">
				<label>Mã nhân viên</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{manv}" />
			</div>
		
	</div>
			
			<div class="container">
			
				<div class="col-md-6"> 
			<div class="form-group">
				<label>Mốc thời gian A</label> <input type="date" class="form-control"
					readonly="readonly" th:field="*{ngaybd}" />
			</div>

			<div class="form-group">
				<label>Số tiền chi</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{sotienchi1}" />
			</div>
			
			<div class="form-group">
				<label>Số tiền thu</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{sotienthu1}" />
			</div>

			<div class="form-group">
				<label>Số lượng phòng được thuê</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongduocthue1}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng phòng không được thuê</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongkhongduocthue1}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng phòng trống</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongtrong1}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng phòng được đặt</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongduocdat1}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng khách hàng</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slkhachhang1}" />
			</div>
		
		</div>
				
				<div class="col-md-6"> 
			
			<div class="form-group">
				<label>Mốc thời gian B</label> <input type="date" class="form-control"
					readonly="readonly" th:field="*{ngaykt}" />
			</div>
			
			<div class="form-group">
				<label>Số tiền chi</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{sotienchi2}" />
			</div>
			
			<div class="form-group">
				<label>Số tiền thu</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{sotienthu2}" />
			</div>

			<div class="form-group">
				<label>Số lượng phòng được thuê</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongduocthue2}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng phòng không được thuê</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongkhongduocthue2}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng phòng trống</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongtrong2}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng phòng được đặt</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slphongduocdat2}" />
			</div>
			
			<div class="form-group">
				<label>Số lượng khách hàng</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{slkhachhang2}" />
			</div>
			</div>
			
			 </div>
		
			
			
</form>
			
			
	
		<div class="text-center">
			<a th:href="@{/thongke/{id}/edit(id=${thongke.mathongke})}" class="button"  > Sửa thông tin</a>
		</div>
		

	</div>


<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>