<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head th:replace="layout :: head"></head>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
	<br /> <br /> <br /> <br />
	<h2>Sửa thông tin nhân viên!</h2>
	<br/>
	<div class="form-group row">
		<form class="form-horizontal" action="#" th:action="@{/employee/save}"
			th:object="${employee}" method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{id}" />
			<div class="col-xs-5">
				<div class="form-group">
					<label>Họ và tên</label> <input type="text" class="form-control"
						placeholder="Họ và tên" th:field="*{name}" />
				</div>



				<div class="form-group">
					<label>Ngày sinh</label> <input id="date" type="date"
						placeholder="Ngày sinh" value="2017-12-010" class="form-control"
						th:field="*{birth_day}" />
				</div>

				<div class="form-group">
					<label>Địa chỉ</label> <input type="text" class="form-control"
						placeholder="Địa chỉ" th:field="*{address}" />
				</div>

				<div class="form-group">
					<label>SĐT</label> <input type="text" class="form-control"
						placeholder="Số điện thoại" th:field="*{phone}" />
				</div>

				<div class="form-group">
					<label>CMND</label> <input type="text" class="form-control"
						placeholder="Số CMND" th:field="*{passport}" />
				</div>

				<div class="form-group">
					<label>Giới tính</label> <select th:field="*{gender}">
						<option value="Nam">Nam</option>
						<option value="Nu">Nữ</option>
						<option value="Khac">Khác</option>
					</select>

				</div>



				<br />
				<button type="submit" class="btn btn-primary btn-md">Submit</button>
			</div>

			<div class="col-xs-5" style="margin-left: 60px">

				<div class="form-group">
					<label>Lương</label> <input type="text" class="form-control"
						placeholder="Lương" th:field="*{salary}" />
				</div>


				<div class="form-group">
					<label>Phòng</label> <input type="text" class="form-control"
						placeholder="Phòng ban" th:field="*{dept}" />
				</div>

				<div class="form-group">
					<label>Tài khoản</label> <input type="text" class="form-control"
						placeholder="Tên tài khoản" th:field="*{username}" />
				</div>

				<div class="form-group">
					<label>Mật khẩu</label> <input type="password" class="form-control" readonly="readonly"
						placeholder="***" th:field="*{passwords}" />
				</div>


				<div class="form-group">
					<label>Tình trạng tài khoản</label> <select th:field="*{status}">
						<option value="True">Active</option>
						<option value="False">Block</option>
					</select>

				</div>
				
				
				<div class="form-group">
					<label>Ảnh đại diện</label> <input type="file"
						class="form-control-file" path="img" th:field="*{img}" />
				</div>


			</div>



		</form>
	</div>
</div>
<br />
<br />
<br />

<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>