<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head th:replace="layout :: head"></head>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
	<br /> <br /> <br /> <br />
	<h2>Add new employee!</h2>	
	<div class="row">
		<form action="#" th:action="@{/employee/save}"
			th:object="${employee}" method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label>Name</label> <input type="text" class="form-control"
					th:field="*{name}" />
			</div>
			<div class="form-group">
				<label>Birth day</label> <input id="date" type="date" value="2017-12-010" class="form-control"
					th:field="*{birth_day}" />
			</div>

			<div class="form-group">
				<label>Address</label> <input type="text" class="form-control"
					th:field="*{address}" />
			</div>

			<div class="form-group">
				<label>Phone</label> <input type="text" class="form-control"
					th:field="*{phone}" />
			</div>

			<div class="form-group">
				<label>Passport</label> <input type="text" class="form-control"
					th:field="*{passport}" />
			</div>

			<div class="form-group">
				<label>Salary</label> <input type="text" class="form-control"
					th:field="*{salary}" />
			</div>

			<div class="form-group">
				<label>Dept</label> <input type="text" class="form-control"
					th:field="*{dept}" />
			</div>

			<div class="form-group">
				<label>Username</label> <input type="text" class="form-control"
					th:field="*{username}" />
			</div>

			<div class="form-group">
				<label>Passwords</label> <input type="password" class="form-control"
					th:field="*{passwords}" />
			</div>

			<div class="form-group">
				<label>Status</label> <input type="text" class="form-control"
					th:field="*{status}" />
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>
<br/><br/><br/>

<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>