<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>

	<nav th:replace="layout :: header"></nav>

	<div class="container main-content list">
	<br/> <br/> <br/><br/><br/>
		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">Ã—</span>
			</button>
			<span th:text="${success}"></span>
		</div>
		<div class="row">
			<a th:href="@{/loaithongke/create}" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-plus"></span> Thêm loại thống kê mới
			</a>
			
			<form class="form-inline pull-right" action="#"
				th:action="@{/loaithongke/search}" method="GET">
				<div class="form-group">
					<input type="text" class="form-control" name="s"
						placeholder="Nhập mã loại thống kê cần tìm ..." />
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<br/>
		<th:block th:if="${#lists.isEmpty(loaithongke)}">
			<h3>Không có loại thống kê nào</h3>
		</th:block>

		<th:block th:unless="${#lists.isEmpty(loaithongke)}">
			<div class="row">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>No</th>
							<th>Mã loại thống kê</th>
							<th>Tên loại thống kê</th>
							<th>Ghi chú</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="loaithongke,iterStat : ${loaithongke}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${loaithongke.maloaitk}"></td>
							<td th:text="${loaithongke.tenloaitk}"></td>
							<td th:text="${loaithongke.ghichu}"></td>
							
							<td><a th:href="@{/loaithongke/{id}/detail(id=${loaithongke.maloaitk})}"><span
								>Xem chi tiết</span></a></td>
								
							<td><a th:href="@{/loaithongke/{id}/edit(id=${loaithongke.maloaitk})}"><span
									class="glyphicon glyphicon-pencil"></span></a></td>
									
							<td><a th:href="@{/loaithongke/{id}/delete(id=${loaithongke.maloaitk})}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</div>
	<!-- /.container -->

	<footer th:replace="layout :: footer"></footer>
</body>
</html>