<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
    		
    		<br/> <br/> <br/><br/><br/>
		<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">Ẩn</span>
			</button>
			<span th:text="${success}"></span>
		</div>
    		
	    	<div class="row">
			<a th:href="@{/phong/create}" class="btn btn-success pull-left">
						<span class="glyphicon glyphicon-edit"></span> Back
			</a>
		</div>
	
        <div class="row">
          <form action="/phong/save" th:object="${phong}"
		    method="POST" novalidate="novalidate">
		    <div class="form-group">
		        <label>Mã Phòng:</label> 
		        <input type="text" class="form-control" th:field="*{Maphong}"/> 
		    </div>
		    <div class="form-group">
		        <label>Tên Phòng:</label> 
		        <input type="text" class="form-control"  th:field="*{Tenphong}" />
		    </div>
		    <div class="form-group">
		        <label>Giá Phòng: </label> 
		        <input type="text" class="form-control" th:field="*{Giaphong}" />
		    </div>
		    <div class="form-group">
		        <label>Mô Tả: </label> 
		        <input type="text" class="form-control" th:field="*{Mota}"/>
		    </div>
		    <div class="form-group">
		        <label>Loại Phòng: </label> 
				<th:block th:unless="${#lists.isEmpty(loaiphongs)}">
					<select  class="form-control" th:field="*{Maloai}">
							<option th:each="loaiphong,iterStat : ${loaiphongs}" th:text="${loaiphong.Tenloai}" th:value="${loaiphong.Maloai}"></option>
					</select>
				</th:block>
		    </div>
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>