<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: header"></nav>
<div class="container main-content form">
	<br /> <br /> <br /> <br />
	<h2>Thêm thiết bị mới</h2>
	<br/>
	<div class="form-group row">
		<form class="form-horizontal" action="#" th:action="@{/thietbi/luu}"
			th:object="${thietbi}" method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{matb}" />
			<div class="col-xs-5">
			
			<div class="form-group">
				<label>Tên thiết bị</label> 
				<input type="text" class="form-control"
					 th:field="*{tentb}" />
			</div>


			<div class="form-group">
				<label>Số Seri</label>
				<input type="text" class="form-control" th:field="*{soseri}"/>
			</div>

			<div class="form-group">
				<label>Ngày nhập</label>
				<input type="date" name="" class="form-control" value = "2018-01-01" th:field="*{ngaynhap}"/>
			</div>

			<div class="form-group">
				<label>Ngày hết bảo hành</label>
				<input type="date" name="" class="form-control"  value = "2018-01-01" th:field="*{ngayhetbaohanh}"/>

			</div>

			<div class="form-group">
				 <label>Niên hạn</label>
			<input type="text" name="" class="form-control" th:field="*{nienhan}"/>
			</div>

			<div class="form-group">
				<label> Tình trạng </label>
			<input type="text" name="" class="form-control" th:field="*{tinhtrang}"/>
			</div>

			<div class="form-group">
				<label> Sử dụng trong phòng </label>
			<input type="text" name="" class="form-control" th:field="*{sudungtrongphong}"/>
			</div>
			
			<div class="form-group"> 
				<label> Nhân viên quản lý</label>
				<input type="text" name="" class="form-control" th:field="*{nhanvienquanly}"/>
			</div>
		
			<div class="form-group"> 
				<select th:field="*{loaitb}">
                         <option th:each="lbb : ${loaithietbis}"
                            th:value="${lbb.maloai}"
                            th:utext="${lbb.tenloai}"/>
                  </select>
			</div>


				<br />
				<button type="submit" class="btn btn-primary btn-md">Add</button>
			</div>

		</form>
	</div>
</div>

<br/>
<br/>
<br/>

<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>