<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<head th:replace="layout :: head"></head>
<nav th:replace="layout :: header"></nav>


<div class="container">
	<br /> <br /> <br /> <br />
	<h1>
		<b th:text="${ThongTinThuePhong.madp}"></b>
	</h1>
	<br /> <br /> <br />


	<div class="col-sm-5">
		<form action="#" th:action="@{/ThongTinThuePhong/{z}/detail}"
			th:object="${ThongTinThuePhong}" method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{matp}" />

			<div class="form-group">
				<label>Mã Đặt Phòng</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{madp}" />
			</div>


			<div class="form-group">
				<label>Giá Thuê Phòng</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{GiaThuePhong}" />
			</div>

			<div class="form-group">
				<label>Giấy Tờ Tạm Giữ</label> <input type="text" class="form-control"
					readonly="readonly" th:field="*{GiayToTamGiu}" />
			</div>

		</form>
		<br/>
		<a th:href="@{/ThongTinThuePhong/{matp}/edit(matp=${ThongTinThuePhong.matp})}" class="button"> Sửa thông tin</a>

	</div>
</div>

<br />
<br />
<br />

<!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>